.desktop {
    position: relative;
width: 1200px;
height: 2336px;
background: #FFFFFF;
display: flex;
flex-wrap: nowrap;
}
.hero {
    position: absolute;
    height: 822px;
    width: 1315px;
    top: -22px;
    left: -116px; 
    background: url("Images/Desktop_Backgrounds_1920x1200_6.jpg");
    background-position: bottom right;
    background-repeat: no-repeat;
    flex-shrink: 1;
}
svg.anime {
    position: absolute;
    left: 834px;
    top: 22px;
}
svg circle.circle, svg path.circle {
    animation: opacity 2s linear 1s infinite alternate;
}
svg circle.moving {
    animation: moving 2s linear infinite alternate;
    z-index: 100;
}
.header {
    position: absolute;
width: 651px;
height: 26px;
left: 267px;
top: 45px;
display: flex;
}
p.header {
    position: absolute;
width: 91px;
height: 16px;
left: 0px;
top: 0px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;

letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;
}
.headermenu {
    position: absolute;
width: 395px;
height: 22px;
left: 256px;
top: 4px;
display: flex;
justify-content: space-between;
flex: 1;
}
.headermenu a { 
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
letter-spacing: 0.2em;
text-transform: uppercase;
text-decoration: none;
color: #FFFFFF;
}
img.line {
    position: absolute;
width: 80px;
height: 0px;
left: 110px;
top: 22px;

border: 1px solid #FFFFFF;
}
.menuicon {
    display: none;
}
.hero-block {
    position: absolute;
    width: 426px;
    height: 292px;
    right: 387px;
    bottom: 256px;
}
.logo1 {
    position: absolute;
width: 63px;
height: 63px;
left: 182px;
bottom: 229px;
}
img.logo {
    width: 63px;
    height: 63px;
position: absolute;
left: 0%;
right: 0.01%;
top: 0%;
bottom: 0.01%;
color: #55C2D8;
transition: all 1s cubic-bezier(0,.41,.52,1);
/* margin: 274px 567px 485px 685px; */
}
img.logo:hover {
    width: 80px;
    height: 80px;
    transform: rotateY(180deg);
}
h1.first {
    position: absolute;
    left: 20px;
top: 76px;
width: 386px;
height: 118px;
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #FFFFFF;
margin: 0;
/* margin: 350px 406px 354px 523px; */
}
.p {
    position: absolute;
top: 236px;
width: 426px;
height: 56px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
margin: 0;
text-align: center;
color: rgba(255, 255, 255, 0.7);
/* margin: 510px 386px 256px 503px; */
}
.main {
    position: absolute;
    width: 1200px;
height: 700px;
left: 0px;
top: 800px;
background: #EEEEEE;
}
h1.second {
    position: absolute;
width: 669px;
height: 119px;
left: 265px;
top: 87px;
margin: 0;
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
text-align: center;
color: #464547;
}
.p1 {
    position: absolute;
width: 426px;
height: 57px;
left: 387px;
top: 246px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-align: center;

color: #666666;
}
.pcontainer {
    
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 983px;
    height: 194px;
    position: absolute;
width: 983px;
height: 194px;
left: 97px;
top: 351px;
justify-content: space-between;
}
.pitem {
    flex-shrink: 1;
    width: 416px;
    /* flex-grow: 1; */
    flex-basis: auto;
}
.p2 {
    /* position: absolute;
width: 983px;
height: 194px;
left: 97px;
top: 351px; */
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 22px;
text-align: left;

color: #000000;
}
.readmore {
    font-family: 'Oswald';
height: 36px;
width: 115px;
font-size: 14px;
line-height: 25px;
/* or 186% */
text-align: center;
letter-spacing: 0.1em;
position: absolute;
top: 566px;
left: 542px;
background: #55C2D8;
border-radius: 18px;
color: #FFFFFF;
transform-origin: left;
transition: transform .5s linear;
}
.readmore:hover {
    transform: rotateZ(15deg);
}
.learnmore {
    position: absolute;
width: 1200px;
height: 666px;
left: 0px;
top: 1500px;
background: rgba(140, 79, 42, 0.3);
}
img.more {
    width: 1200px;
height: 666px;
}
h1.last {
    position: absolute;
width: 480px;
height: 117px;
left: 360px;
top: 84px;
margin: 0;
font-family: 'Oswald';
font-style: normal;
font-weight: 700;
font-size: 48px;
line-height: 64px;
/* or 133% */
text-align: center;
color: #FFFFFF;
}
svg.button {
    position: absolute;
width: 150px;
height: 150px;
left: 525px;
top: 254px;
transition: all .5s ease-in;
color: #39C2D7;
}
img.polygon {
    position: absolute;
width: 51px;
height: 47px;
right: 565px;
top: 305px;

color: #FFFFFF;
border-radius: 2px;
}
svg.button:hover {
    width: 145px;
    height: 145px;
}
svg.button:hover ellipse.ellipse {
    fill: #FFFFFF;
}
svg.button:hover path.path {
    fill: #39C2D7;
}
svg ellipse.ellipse, svg path.path {
    transition: all .5s ease-in;
}
.p3 {
    position: absolute;
width: 390px;
height: 102px;
left: 395px;
top: 474px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 32px;
text-align: center;

color: #FFFFFF;
}
.footer {
    position: absolute;
width: 1200px;
height: 170px;
left: 0px;
top: 2166px;

background: #464547;
}
.fcontainer {
    height: 86px;
    width: 900px;
    margin-left: 150px;
    margin-top: 39px;
    display: flex;
flex-wrap: nowrap;
justify-content: space-around;
}
.footeritem {
    width: 230px;
    position: relative;
    height: auto;
    flex-basis: auto;

}
.project {
    /* position: absolute;
width: 128px;
height: 20px;
left: 145px;
top: 19px; */
display: inline;
/* margin: 10px; */
}
img.project {
    position: absolute;
width: 20px;
height: 20px;
right: 100px;
top: 0px;
}
p.project {
    position: absolute;
width: 92px;
height: 16px;
right: 0;
top: 2px;
margin: 0 0 0 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 16px;
text-align: end;
letter-spacing: 0.2em;
text-transform: uppercase;

color: #FFFFFF
}
address {
    /* position: absolute; */
width: 174px;
height: 33px;
/* left: 140px;
top: 51px; */
margin-bottom: 10px;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: rgba(255, 255, 255, 0.4);
}
a.mail {
    /* position: absolute; */
width: 142px;
height: 22px;
margin-top: 10px;
/* left: 140px;
top: 90px; */
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: rgba(255, 255, 255, 0.4);
text-decoration: none;
}
.p4 {
    position: absolute;
width: 243px;
height: 20px;
bottom: 0px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: rgba(255, 255, 255, 0.4);
}
@keyframes opacity {
    0% { opacity: 0; }
    100% { opacity: 1; }
}
@keyframes moving {
    0% { transform: translate(0, 0);}
    100% { transform: translate(-8px, -8px);}
}
@media (max-width: 480px) {
    .desktop {
        /* position: relative; */
width: 480px;
height: 2715px;
background: #FFFFFF;
display: flex;
flex-wrap: nowrap;
    }
    .hero {
        position: absolute;
        height: 800px;
        width: 1315px;
        top: 0px;
        left: -835px; 
        background: url("Images/Desktop_Backgrounds_1920x1200_6.jpg");
        background-position: bottom right;
        background-repeat: no-repeat;
        flex-shrink: 1;
        background-clip: border-box;
    }
    svg.anime {
        position: absolute;
        left: 834px;
        top: 0px;
    }
    .header {
        position: absolute;
    width: 433px;
    height: 15.24px;
    left: 850px;
    top: 45px;
    display: flex;
    }
    p.header {
        position: absolute;
width: 91px;
height: 13.24px;
right: 150px;
margin: 0;
font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 16px;
letter-spacing: 0.1em;
text-transform: uppercase;

color: #FFFFFF;

    }
    .headermenu {
    width: 22px;
    height: 16.5px;
    position: unset;
    display: flex;
    justify-content: space-between;
    flex: 1;
    }
    .headermenu a, img.line { 
    display: none;
    
    }
    .hero-block {
        position: absolute;
        width: 426.32px;
        height: 295.82px;
        right: 37px;
        bottom: 256px;
    }
    .logo1 {
        position: absolute;
    width: 63px;
    height: 63px;
    left: 182px;
    bottom: 229px;
    }
    img.logo {
        width: 63px;
        height: 63px;
    position: absolute;
    left: 0%;
    right: 0.01%;
    top: 0%;
    bottom: 0.01%;
    color: #55C2D8;
    /* margin: 274px 567px 485px 685px; */
    }
    h1.first {
        position: absolute;
        left: 20px;
    top: 76px;
    width: 386px;
    height: 118px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    margin: 0;
    /* margin: 350px 406px 354px 523px; */
    }
    .p {
        position: absolute;
    top: 236px;
    width: 426px;
    height: 56px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.7);
    /* margin: 510px 386px 256px 503px; */
    }
    .main {
        position: absolute;
        width: 480px;
    height: 990px;
    left: 0px;
    top: 800px;
    background: #EEEEEE;
    }
    h1.second {
        position: absolute;
        width: 355px;
        height: 261px;
        left: 63px;
        top: 65px;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #464547;
    }
    .p1 {
        position: absolute;
    width: 453px;
    height: 81px;
    left: 27px;
    top: 367px;
    margin: 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    
    color: #666666;
    }
    .pcontainer {
    
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 445px;
        height: 336px;
        position: absolute;
    left: 27px;
    top: 476px;
    justify-content: space-between;
    }
    .readmore {
        font-family: 'Oswald';
    height: 36px;
    width: 115px;
    font-size: 14px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.1em;
    position: absolute;
    top: 836px;
    left: 183px;
    background: #55C2D8;
    border-radius: 18px;
    color: #FFFFFF;
    }
    .learnmore {
        position: absolute;
    width: 483.71px;
    height: 637px;
    left: 0px;
    top: 1790px;
    background: rgba(140, 79, 42, 0.3);
    }
    img.more {
        width: 1200px;
    height: 666px;
    position: relative;
    right: 400px;
    }
    h1.last {
        position: absolute;
    width: 487.77px;
    height: 117px;
    left: 10.16px;
    top: 72px;
    margin: 0;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 64px;
    text-align: center;
    color: #FFFFFF;
    }
    img.button {
        position: absolute;
    width: 100px;
    height: 100px;
    left: 193.94px;
    top: 280px;
    
    color: #39C2D7;
    }
    img.polygon {
        position: absolute;
    width: 40.67px;
    height: 36.67px;
    right: 215px;
    top: 311.33px;
    
    color: #FFFFFF;
    border-radius: 2px;
    }
    .p3 {
        position: absolute;
    width: 390px;
    height: 102px;
    left: 45.73px;
    top: 462px;
    margin: 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    text-align: center;
    color: #FFFFFF;
    }
    .footer {
        position: absolute;
    width: 493px;
    height: 292px;
    left: 0px;
    top: 2427px;
    background: #464547;
    }
    .fcontainer {
        height: 160px;
        width: 243px;
        margin-left: 125px;
        margin-top: 39px;
        display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    }
    .footeritem {
        width: 230px;
        position: relative;
        height: auto;
        flex-basis: auto;
    
    }
    .project {
        /* position: absolute;
    width: 128px;
    height: 20px;
    left: 145px;
    top: 19px; */
    display: inline;
    /* margin: 10px; */
    }
    img.project {
        position: absolute;
    width: 20px;
    height: 20px;
    right: 160px;
    top: 0px;
    }
    p.project {
        position: absolute;
    width: 92px;
    height: 16px;
    right: 60px;
    top: 2px;
    margin: 0 0 0 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 16px;
    text-align: end;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    
    color: #FFFFFF
    }
    address {
        position: absolute;
    width: 174px;
    height: 33px;
    left: 25px;
    bottom: 30px;
    margin-bottom: 10px;
    margin-top: 30px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-align: center;
    }
    a.mail {
        position: absolute;
    width: 142px;
    height: 22px;
    margin-top: 10px;
    text-align: center;
    left: 40px;
    bottom: 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
    }
    .p4 {
        position: absolute;
    width: 243px;
    height: 20px;
    bottom: 0px;
    margin: 0;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: rgba(255, 255, 255, 0.4);
    }
    .menuicon {
        display: inline-block;
        position: absolute;
        right: 0px;
        width: 22px;
        height: 16.5px;
    }
    svg.button {
        position: absolute;
        left: 165px;
    }
}